{% if host.DATA_INPUT.base.lldp %}
lldp
exit
!
xml agent tty iteration off
!
hostname {{host}}
!
{% endif %}
line console
 exec-timeout 0 0
 session-timeout 0
!
line default
 exec-timeout 0 0
 session-timeout 0
 !
