{% if host.DATA_INPUT.get('bgp') %}
{% if host.DATA_INPUT.bgp.get('add_pe_policy') %}
route-policy PL-iBGP-RR-OUT
set next-hop self
end-policy
!
{% endif %}
{% if host.DATA_INPUT.bgp.get('add_asbr_policy') %}
route-policy PL-EBGP-CE1-OUT
  set med {{ host.DATA_INPUT.bgp.get('CE1_MED') }}
  pass
end-policy
!
route-policy PL-EBGP-CE2-OUT
  set med {{ host.DATA_INPUT.bgp.get('CE2_MED') }}
  pass
end-policy
!
route-policy PL-EBGP-65001-IN
  pass
end-policy
!
{% endif %}
{% if host.DATA_INPUT.bgp.get('add_65001_in_out') %}
!
route-policy PL-EBGP-65001-IN
  pass
end-policy
!
{% endif %}
{% if host.DATA_INPUT.bgp.get('add_65002_in_out') %}
!
route-policy PL-EBGP-65002-IN
  pass
end-policy
!
route-policy PL-EBGP-65002-OUT
  pass
end-policy
!
{% endif %}
{% endif %}