{% if host.DATA_INPUT.get('bgp') %}
!
router bgp {{ host.DATA_INPUT.bgp.get('asn') }}
bgp router-id {{ host.DATA_INPUT.bgp.get('router_id') }}
address-family ipv4 unicast
{% if host.DATA_INPUT.bgp.get('add_paths') %}
additional-paths receive
additional-paths send
{% endif %}
!
{% if host.DATA_INPUT.bgp.get('route_reflector') %}
neighbor-group CLIENTS
 remote-as 65000
 cluster-id {{ host.DATA_INPUT.bgp.get('cluster_id') }}
 update-source Loopback0
 address-family ipv4 unicast
  route-reflector-client
{% else %}
neighbor-group RR
 remote-as {{ host.DATA_INPUT.bgp.get('asn') }}
 update-source Loopback0
 address-family ipv4 unicast
 route-policy PL-iBGP-RR-OUT out
!
{% for rr in host.DATA_INPUT.bgp.get('route_reflectors') %}
neighbor {{ rr }}
use neighbor-group RR
!
{% endfor %}
{% endif %}
!
{% if host.DATA_INPUT.bgp.get('neighbors') %}
{% for nx in host.DATA_INPUT.bgp.get('neighbors') %}
{% if nx.get('group') %}
neighbor {{ nx.get('neighbor') }}
 use neighbor-group {{ nx.get('group') }}
{% else %}
neighbor {{ nx.get('neighbor') }}
 remote-as {{ nx.get('remote_as') }}
 update-source {{ nx.get('update_source') }}
 address-family {{ nx.get('afi') }}
{% if nx.get('route_policy') %}
{% for policy in nx.get('route_policy') %}
 route-policy {{ policy }}
{% endfor %}
{% endif%}
{% endif %}
!
{% endfor %}
{% endif %}
!
{% endif %}
