{% if host.data_input.get('bgp') %}
!
router bgp {{ host.data_input.bgp.get('asn') }}
 bgp router-id {{ host.data_input.bgp.get('router_id') }}
 bgp log-neighbor-changes
{% if host.data_input.bgp.get('neighbors') %}
{% for nx in host.data_input.bgp.get('neighbors') %}
 neighbor {{ nx.get('neighbor') }} remote-as {{ nx.get('remote_as') }}
 neighbor {{ nx.get('neighbor') }} update-source {{ nx.get('update_source') }}
 !
{% endfor %}
{% endif %}
 address-family ipv4
{% if host.data_input.bgp.get('neighbors') %}
{% for nx in host.data_input.bgp.get('neighbors') %}
  redistribute connected
  neighbor {{ nx.get('neighbor') }} activate
{% if nx.get('route_policy') %}
{%- for route_map in nx.get('route_policy') %}
  neighbor {{ nx.get('neighbor') }} send-community both
  neighbor {{ nx.get('neighbor') }} route-map {{ route_map }}
{% endfor %}
 exit-address-family
{% endif %}
{% endfor %}
{% endif %}
!
{% endif %}
