{% for item in host.DATA_INPUT.ip_interfaces %}
interface {{ item.get('interface') }}
description {{ item.get('description') }}
ipv4 address {{ item.get('ip_address') }}{{ item.get('mask') }}
no shutdown
exit
{% endfor %}