router ospf CORE
area 0.0.0.0
{% for int in host.DATA_INPUT.ip_interfaces %}
{% if int.get("ospf") %}
{% if int.get("passive") %}
interface {{int.interface}} passive
{% else %}
interface {{int.interface}}
{% endif %}
{% endif %}
{% endfor %}