{% if host.DATA_INPUT.get('bgp') %}
!
router bgp {{ host.DATA_INPUT.bgp.get('asn') }}
address-family ipv4 unicast
{% if host.DATA_INPUT.bgp.get('add_paths') %}
additional-paths receive
additional-paths send
{% endif %}
!
{% if host.DATA_INPUT.bgp.get('route_reflector') %}
neighbor-group iBGP-CLIENTS
cluster-id {{ host.DATA_INPUT.bgp.get('cluster_id') }}
address-family ipv4 unicast
route-reflector-client
{% else %}
neighbor-group RR
remote-as {{ host.DATA_INPUT.bgp.get('asn') }}
update-source Loopback0
address-family ipv4 unicast
route-policy PL-iBGP-RR-OUT out
!
{% for rr in host.DATA_INPUT.bgp.get('route_reflectors') %}
neighbor {{ rr }}
use neighbor-group RR
!
{% endfor %}
{% endif %}
!
{% if host.DATA_INPUT.bgp.get('neighbors') %}
{% for nx in host.DATA_INPUT.bgp.get('neighbors') %}
neighbor {{ nx.neighbor }}
remote-as {{ nx.remote_as }}
update-source {{ nx.update_source }}
address-family {{ nx.afi }}
{% for policy in nx.get('route_policy') %}
route-policy {{ policy }}
{% endfor %}
!
{% endfor %}
{% endif %}
!
{% include 'bgp-route-policy.j2' %}
{% endif %}
