{% if host.data_input.get('bgp') %}
router bgp {{ host.data_input.bgp.get('asn') }}
  bgp router-id {{ host.data_input.bgp.get('router_id') }}
  address-family ipv4 unicast
  !
  address-family vpnv4 unicast
{% if host.data_input.bgp.get('add_paths') %}
   additional-paths receive
   additional-paths send
  !
  address-family link-state link-state
{% endif %}
!
{% if host.data_input.bgp.get('route_reflector') %}
 neighbor-group CLIENTS
  remote-as 65000
  cluster-id {{ host.data_input.bgp.get('cluster_id') }}
  update-source Loopback0
  address-family ipv4 unicast
   route-reflector-client
  address-family vpnv4 unicast 
   route-reflector-client
  address-family link-state link-state
   route-reflector-client
{% else %}
 neighbor-group RR
  remote-as {{ host.data_input.bgp.get('asn') }}
  update-source Loopback0
  address-family ipv4 unicast
   route-policy PL-iBGP-RR-OUT out
   soft-reconfiguration inbound always
  !
  address-family vpnv4 unicast
  !
  address-family link-state link-state
  !
 !
! 
{% for rr in host.data_input.bgp.get('route_reflectors') %}
 neighbor {{ rr }}
  use neighbor-group RR
 !
{% endfor %}
{% endif %}
!
{% if host.data_input.bgp.get('neighbors') %}
{% for nx in host.data_input.bgp.get('neighbors') %}
{% if nx.get('group') %}
neighbor {{ nx.get('neighbor') }}
 use neighbor-group {{ nx.get('group') }}
{% else %}
neighbor {{ nx.get('neighbor') }}
 remote-as {{ nx.get('remote_as') }}
 update-source {{ nx.get('update_source') }}
 address-family {{ nx.get('afi') }}
  soft-reconfiguration inbound always
{% if nx.get('route_policy') %}
{% for policy in nx.get('route_policy') %}
  route-policy {{ policy }}
{% endfor %}
{% endif%}
{% endif %}
!
{% endfor %}
{% endif %}
{% if host.data_input.bgp.get('vrf_neighbors') %}
{% for vrf in host.data_input.bgp.get( 'vrf_neighbors') %}
 vrf {{ vrf.get('vrf') }}
 rd {{ host.data_input.bgp.get('router_id') }}:{{ vrf.get('RD') }}
 bgp router-id {{ vrf.get('router_id') }}
 address-family ipv4 unicast
 !
{% for nx in vrf.get('neighbors') %}
 neighbor {{ nx.get('neighbor') }}
  remote-as {{ nx.get('remote_as') }}
  update-source {{ nx.get('update_source') }}
   address-family ipv4 unicast
{% if nx.get('route_policy') %}
{% for policy in nx.get('route_policy') %}
   route-policy {{ policy }}
{% endfor %}
{% endif %}
{% if nx.get('as_override') %}
   as-override
   !
  !
 !
!
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
{% endif %}