{% include 'base.j2' %}
{% include 'vrf.j2' %}
{% include 'interfaces.j2' %}
{% include 'bgp-route-policy.j2' %}
{% include 'isis.j2' %}
{% include 'bgp.j2' %}
{% include 'static-routes.j2' %}
{% include 'mpls.j2' %}
{% include 'mpls_lsp_groups.j2' %}
{% include 'final.j2' %}
