{% if host.DATA_INPUT.get('bgp') %}
!
router bgp {{ host.DATA_INPUT.bgp.get('asn') }}
 bgp log-neighbor-changes
 bgp router-id {{ host.DATA_INPUT.bgp.get('router_id') }}
{% if host.DATA_INPUT.bgp.get('neighbors') %}
{% for nx in host.DATA_INPUT.bgp.get('neighbors') %}
 neighbor {{ nx.get('neighbor') }} remote-as {{ nx.get('remote_as') }}
 neighbor {{ nx.get('neighbor') }} update-source {{ nx.get('update_source') }}
{% endfor %}
 address-family ipv4 unicast
  redistribute connected
{% for nx in host.DATA_INPUT.bgp.get('neighbors') %}
{% if nx.get('afi') == "ipv4 unicast" %}
{% if nx.get('route_policy') %}
{% for route_map in nx.get('route_policy') %}
  neighbor {{ nx.get('neighbor') }} send-community both
  neighbor {{ nx.get('neighbor') }} route-map {{ route_map }}
{% endfor %}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
!
{% endif %}
 exit-address-family
