{% if host.DATA_INPUT.get('bgp') %}
!
router bgp {{ host.DATA_INPUT.bgp.get('asn') }}
bgp log-neighbor-changes
bgp router-id {{ host.DATA_INPUT.bgp.get('router_id') }}
address-family ipv4 unicast
!
{% if host.DATA_INPUT.bgp.get('neighbors') %}
{% for nx in host.DATA_INPUT.bgp.get('neighbors') %}
neighbor {{ nx.get('neighbor') }}  remote-as {{ nx.get('remote_as') }}
 address-family {{ nx.get('afi') }}
 redistribute connected
{% if nx.get('route_policy') %}
{% for route_map in nx.get('route_policy') %}
 neighbor {{ nx.get('neighbor') }} send-community both
 neighbor {{ nx.get('neighbor') }} route-map {{ route_map }}
{% endfor %}
{% endif %}
!
{% endfor %}
{% endif %}
!
{% endif %}
