{% if host.data_input.get('bgp') %}
{% if host.data_input.bgp.get('add_pe_policy') %}
route-policy PL-iBGP-RR-OUT
set next-hop self
end-policy
!
{% endif %}
{% if host.data_input.bgp.get('add_asbr_policy') %}
route-policy PL-EBGP-CE1-OUT
  set med {{ host.data_input.bgp.get('CE1_MED') }}
  pass
end-policy
!
route-policy PL-EBGP-CE2-OUT
  set med {{ host.data_input.bgp.get('CE2_MED') }}
  pass
end-policy
!
!
{% endif %}
{% if host.data_input.bgp.get('add_65001_in_out') %}
route-policy PL-EBGP-65001-IN
  pass
end-policy
!
route-policy PL-EBGP-65001-OUT
  pass
end-policy
!
{% endif %}
{% if host.data_input.bgp.get('add_65001_in') %}
!
route-policy PL-EBGP-65001-IN
  pass
end-policy
{% endif %}
{% endif %}